.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 100%;
  padding: 0 3rem 3rem;
}
.footerItem {
  width: 100%;
}
.icons {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
.icons img {
  width: 18px;
}
.logo {
  width: 80px;
}
.footer button {
  outline: 1px solid black;
  border-radius: 5px;
  outline-offset: 4px;
  background-color: rgb(0 0 0 / 75%);
  padding: 10px;
  width: 200px;
  text-transform: uppercase;
  color: white;
  font-size: small;
}
.footer button:hover {
  background-color: unset;
  color: unset;
  transition: 250ms;
}
@media (max-width: 720px) {
  .footer {
    display: unset;
    padding: unset;
    margin: 0 3rem 3rem;
  }
  .footerItem {
    display: flex;
    justify-content: center;
  }
  .icons {
    padding-top: 2rem;
  }
}