@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
    overflow: scroll;
}

body {
  cursor: url('../public/cursor.png'),auto;
}

a {
  color: inherit;
  text-decoration: none;
  /* cursor: pointer; */
}

* {
  box-sizing: border-box;
}
#__next {
  height: 100%;
}
.title {
  padding-top: 6rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 300;
  font-size: 2rem;
}
.subtitle {
  text-transform: uppercase;
  font-weight: 300;
}
.wrapper {
  padding: 8rem 3rem;
  min-height: 100%;
}
.paragraph {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
}
.press {
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-style: italic;
}
.buttonSecondary {
  border-radius: 5px;
  background-color: #cae265;
  padding: 10px;
  width: 100px;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  letter-spacing: 1px;
}
.accentFont {
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-style: italic;
}

.buttonTertiary {
  outline: 1px solid white;
  border-radius: 5px;
  outline-offset: 4px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  width: 200px;
  text-transform: uppercase;
  color: black;
  font-size: small;
}
.buttonTertiary:hover {
  background-color: unset;
  color: unset;
  transition: 250ms;
}
.heading {
  font-size: 4rem;
  font-weight: 600;
  font-family: bodoni;
  opacity: 25%;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1;
}

.name {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "aktiv-grotesk-extended", sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 1;
}

@media only screen and (max-width: 768px) {
  .name {
    padding-bottom: 8px;
  }
  .wrapper {
    padding: 4rem 3rem;
  }
}
